---
layout: default
title: Buy some Binoculars | Under The Stars | Astronomy experiences in the Wairarapa
theme: light
---

<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

    <!-- VOUCHERS -->
    <article class="pt-10 pt-md-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Preheading -->
            <h6 class="text-xs text-blue">
              Binoculars
            </h6>

            <!-- Heading -->
            <h1 class="display-6 fw-bold">
              High quality light-weight binoculars, perfect for exploring the night sky.
            </h1>

          </div>
        </div>
        <div class="row">
          <div class="col-12">

            <!-- Image -->
            <figure class="mb-6 text-center">
              <img class="img-fluid" src="/assets/img/Binoculars.jpg" alt="Binoculars">
            </figure>

          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">

            <!-- Heading -->
            <h2 class="fw-bold mt-6 mb-3">
              Why these?
            </h2>

            <!-- Text -->
						<p>
              These quality 50mm optics and anti-reflection coatings give you a bright image with a wide field of view for stargazing. Focusing is easy and precise. Images are clear and sharp.</p>
            <p>
              The 10x magnification is enough for hand-held binoculars.
						</p>

						<p>	
							These binoculars are perfect for beginners but also more experienced stargazers, to see the Moon, Jupiter’s moons, globular and open clusters like Matariki. 
						</p>
						<p>
						  Only $125 including shipping to anywhere with New Zealand, these binoculars are a great present, a first step into this fascinating hobby or for more experienced stargazers who need something light and portable.
            </p>
            <p class="mb-6">
							(On purchase you will be taken to our payment processor Stripe, if you want to talk about other ways to pay then <a href="/contact-us/" class="text-blue">Contact us here</a>.)
						</p>
            {% for item in site.data.store %}
              {% if item.filter == 'binoculars'%}                                  
                <button type="button" onclick="binocularsCheckout('{{item.id}}')" class="btn btn-blue" value="{{item.id}}">{{item.group_size}} - {{item.price}}</button>
                <p></p>
              {% endif %}
            {% endfor %}         
          </div>
        </div>
      </div>
    </article>
  
    <script>
      function binocularsCheckout(price_id) {
        var stripe = Stripe('pk_live_51LJDF4GzHckhqGK034oaGgaRB466qFtNnEltpyUinoG4Pv9psv7R5MFw7FpHAZu9Yw1LQ77KDyruaOlXXrLfJOBK00YpGbVyni');
        stripe.redirectToCheckout({
          lineItems: [{ price: price_id, quantity: 1 }],
          mode: 'payment',
          successUrl: window.location.protocol + '//www.underthestars.co.nz/success',
          cancelUrl : window.location.protocol + '//www.underthestars.co.nz/cancelled',
          shippingAddressCollection: { allowedCountries: ['NZ', 'AU'],}
        })
        .then(function(result) {
          if (result.error){
            var displayError = document.getElementById('error-message');
            displayError.textContent = result.error.message;
          }
        });   
      }      
      </script>
      
