---
layout: default
title: Book Us | Astronomy Tours under the Wairarapa's Dark Sky
---


    <!-- HEADER -->
    <header data-jarallax data-speed=".8" style="background-image: url(/assets/img/19.jpg);">
      <div class="pt-10 pb-8 pt-md-15 pb-md-13 bg-black-50">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">

              <!-- Heading -->
              <h1 class="display-6 fw-bold text-white">
                We come to you.
              </h1>

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- CAROUSEL -->
    <section class="pt-7 pt-md-9">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Heading -->
            <p>
              <a
                href="https://outlook.office365.com/owa/calendar/Booking@underthestars.co.nz/bookings/"
                class="btn btn-blue"
              >
                Book a Private Stargazing Tour Now
              </a>
            </p>

            <p class="text-darkblue">
              We offer a special couples tour at a shorter duration of one hour. This is for any two 
              people who would like to do a tour together at a reduced price and duration - $195
            </p>

            <h2 class="mt-6 mb-2">
              Our prices
            </h2>
          
            {% for item in site.data.store %}
              {% if item.id != 'price_1Nd7UFGzHckhqGK0nycNXgzZ' %}  
                <div class="well well-sm">{{item.group_size}} - {{item.price}}</div>    
              {% endif %}
            {% endfor %}
            <p></p>
            <p>
              Our standard tours are 90 minutes in duration. This includes naked-eye presentation, celestial navigation, telescope viewing and Q&A.               
            </p>

            <p>
              Prices start at a group size of two for NZ$255 (you can book for one at this base price)               
            </p>
            
            <p>
              After the base price, each extra person will be $40. <br>
              Eg. 3 people for $295, 4 people - $340
            </p>
            <p>
              Children under 12 are free and do not count towards your group numbers (Please notify us if you expect more than 2 children) 
            </p>            
            
            <h2 class="mt-6 mb-2">
              Is this a gift for someone else?
            </h2>

            <p>
              <a href="/vouchers/" class="btn btn-blue">
                Buy a Gift Voucher
              </a>
            </p>
            <p>
              * Vouchers are valid for two years and must be redeemed within the
              Wairarapa.
            </p>

          </div>
        </div>
      </div>
    </section>
