---
layout: default
title: Events | Under The Stars | Wairarapa Astronomy
---

	<!-- HEADER
	================================================== -->
	<section class="section section_header" data-parallax="scroll" data-image-src="/assets/img/33.jpg">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- Heading -->
					<h1 class="section__heading section_header__heading text-center">
						Events are looking up at Under the Stars
					</h1>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>  
  
    	<!-- EVENTS
	================================================== -->
	<section class="section section_events section_no-padding_bottom">

		<!-- Intro -->
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						Make sure you come back or maybe sign up to our newsletter for something to look forward to.  In the meantime you could #shoplocal and plan ahead by purchasing a <a href="/vouchers/">voucher</a>.</p>
					</h2>
	
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->

	<!-- NEWSLETTER
	================================================== -->
	<section class="section section_gray section_newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading section_newsletter__heading text-center">
						Newsletter
					</h2>
					<p class="section__subheading text-center">
						If you'd like to know more about upcoming events how about subscribing to our regular newsletter.
					</p>
	
				</div>
			</div> <!-- / .row -->
			<div class="row justify-content-center">
				<div class="col-lg-6">
					
					<!-- Form -->
					<div id="mc_embed_signup">
						<form class="section_newsletter__form validate" action="https://underthestars.us20.list-manage.com/subscribe/post-json?u=32070e2712aafeb50d59dabcb&amp;id=b628631ef1&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
							<div id="mc_embed_signup_scroll" class="row">
								<div class="mc-field-group form-group col-md-9">
									<label for="mce-EMAIL" class="sr-only">E-mail address</label>
									<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email address">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response"></div>
									<div class="response" id="mce-success-response"></div>
								</div>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div aria-hidden="true" id="mce-hidden-input">
									<input type="text" name="b_32070e2712aafeb50d59dabcb_b628631ef1" tabindex="-1" value="">
								</div>
								<div class="clear col-md-3 text-center">
									<button type="submit" class="btn btn-primary" id="mc-embedded-subscribe">
										Subscribe
									</button>
								</div>
							</div>
						</form>
					</div> <!-- #mc_embed_signup -->

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

			<!-- TESTIMONIALS
	================================================== -->
	<section class="section section_testimonials section_border_bottom">
		<div class="container">
			<div class="row">
				<div class="col">
	
					<!-- Heading -->
					<h2 class="section__heading text-center">
						What our clients say about us
					</h2>

				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col">
					<div class="section_testimonials__carousel">

{% assign testimonials = site.data.testimonials | sample:10 %}
{% for item in testimonials %}
						<div class="section_testimonials__carousel__item text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-3 order-md-3">
									
									<!-- Photo -->
									<div class="section_testimonials__photo">
										<img src="{{item.image}}" class="img-fluid" alt="{{ item.name }}">
									</div>

								</div>
								<div class="col-md-7 order-md-2">
									
									<!-- Blockquote -->
									<blockquote class="section_testimonials__blockquote mx-auto">
										<p>
											{{ item.story }}
										</p>
										<footer class="text-muted">
											{{ item.name }}
										</footer>
									</blockquote>

								</div>
								<div class="col-md-1 order-md-1"></div>
							</div> <!-- / .row -->
						</div>			
{% endfor %}
						
					</div> <!-- / .carousel -->
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>

		<!-- Events -->
		<div class="section_events__items">
		
		<!-- Event Reader -->
			
{% assign curDate = site.time | date: '%s' %}			
{% for post in site.categories.Events reversed %}
  {% assign postStartDate = post.date | date: '%s' %}
  {% if postStartDate >= curDate %}
			<div class="section_events__item{% if forloop.first %} active{% endif %}">

				<!-- Bg image -->
				<div class="section_events__item__bg" style="background-image: url({{post.image}})"></div>

				<!-- Content -->
				<div class="container">

					<!-- Content: Large -->
					<div class="section_events__item__content_lg">
						<div class="row">
							<div class="col-md-8 col-lg-5">
								
								<!-- Date -->
								<h3 class="section__preheading text-primary">
									<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
								</h3>

								<!-- Heading -->
								<h2 class="section__heading text-white">
									{{ post.title }}
								</h2>

								<!-- Description -->
								<p class="section__subheading">
									{{ post.excerpt }}
								</p>

								<!-- Button -->
								<a href="{{ post.link }}" class="btn btn-primary text-white">
									Find out More
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_lg -->

					<!-- Content: Small -->
					<div class="section_events__item__content_sm">
						<div class="row">
							<div class="col-3 col-md-2 col-lg-1">
								
								<!-- Date -->
								<time datetime="{{ post.date | date: "%Y-%m-%d" }}">
									{{ post.date | date: "%-d" }} <small>{{ post.date | date: "%B" }}</small>
								</time>

							</div>
							<div class="col-9 col-md-7 col-lg-8">
								
								<!-- Heading -->
								<h4>
									{{ post.title }}
								</h4>

							</div>
							<div class="col-9 ml-auto col-md-3 text-md-right">
								
								<!-- Button -->
								<a href="{{ post.link }}" class="btn btn-primary">
									Find out More
								</a>

							</div>
						</div> <!-- / .row -->
					</div> <!-- / .section_events__item__content_sm -->

				</div> <!-- / .container -->

			</div> <!-- / .section_events__item -->
	{% endif %}
  {% endfor %}

		</div> <!-- / .section_events__items -->

	</section>
