	<!-- FOOTER
	================================================== -->
	<footer class="section section_footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<!-- Contact info -->
					<h5 class="section_footer__heading">
						Socials
					</h5>
					<ul class="section_footer__info">
						<li>
							<i class="fab fa-facebook"></i> <a href="https://fb.com/underthestarsnz">Find us on Facebook</a>
						</li>						<li>
							<i class="fab fa-instagram"></i> <a href="http://instagram.com/underthestarsnz">Find us on Instagram</a>
						</li>
					</ul>

					<br />

					<!-- Logos -->
					<h5 class="section_footer__heading">
						Proudly <strong>Qualmark Accredited</strong>
					</h5>
					<div class="section_footer__info">
						<img src="/assets/img/qualmark.png" alt="Proud to be Qualmark Accredited" width="115px" style="opacity: 80%;" />
					</div>
				</div>

				<div class="col-sm-4">
				
					<!-- About Us -->
					<h5 class="section_footer__heading">
						About Us
					</h5>
					<p>
						We show off the night sky, pointing out constellations, stars, solar system objects and enjoy close up views of deep sky objects through binoculars and telescopes all in an entertaining and educational way.
					</p>

					<!-- Contact info -->
					<h5 class="section_footer__heading">
						Contact info
					</h5>
					<ul class="section_footer__info">
						<li>
							<i class="fas fa-map-marker-alt"></i>Wairarapa, New Zealand
						</li>
						<li>
							<i class="fas fa-phone"></i> +64 211 755 194
						</li>
						<li>
							<i class="far fa-envelope"></i> <a href="mailto:kiaora@underthestars.co.nz">kiaora@underthestars.co.nz</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">

					<a href="https://outlook.office365.com/owa/calendar/Booking@underthestars.co.nz/bookings/"><h5 class="section_footer__heading">
						Book a Tour at Your Place
					</h5></a>
					<ul class="section_footer__info">
						<li>
							<i class="far fa-calendar-check"></i> <a href="https://outlook.office365.com/owa/calendar/Booking@underthestars.co.nz/bookings/">Book your own Event</a>
						</li>
					</ul>

					<!-- Purchase -->
					<a href="/vouchers/"><h5 class="section_footer__heading">
						Purchase a Gift Voucher
					</h5></a>
					<p>
						<a href="/vouchers/">Gift Vouchers</a>
					</p>

					<h5 class="section_footer__heading">
						We are <strong>Under the Stars</strong>
					</h5>
					<div class="section_footer__info">
						<img src="/assets/img/DarkLogo.png" alt="Under the Stars" width="115px" />
					</div>
				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col-12">
				
					<!-- Copyright -->
					<div class="section_footer__copyright">
						&copy; {{ 'now' | date: "%Y" }} Under the Stars. All rights reserved.
					</div>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</footer>

	<!-- JAVASCRIPT
	================================================== -->

	<!-- JS Global -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9TMfxMc1gRlhV08ozWAdvCXaOLpqvVxs"></script>

	<!-- JS Plugins -->
	<script src="/assets/plugins/parallax/parallax.min.js"></script>
	<script src="/assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="/assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="/assets/plugins/lightbox/js/lightbox.min.js"></script>
	<script src="/assets/plugins/reservation/reservation.js"></script>
	<script src="/assets/plugins/alerts/alerts.js"></script>

	<!-- JS Custom -->
	<!-- build:js assets/js/theme.min.js -->
	<script src="/assets/js/theme.js"></script>
	<!-- endbuild -->
	<script src="/assets/js/custom.js"></script>