	<!-- FOOTER
	================================================== -->
	<footer class="section section_footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				
					<!-- About Us -->
					<h5 class="section_footer__heading">
						About Us
					</h5>
					<p>
						We show off the night sky, pointing out constellations, stars, solar system objects and enjoy close up views of deep sky objects through binoculars and telescopes all in an entertaining and educational way.
					</p>

				</div>
				<div class="col-sm-4">
				
					<!-- Contact info -->
					<h5 class="section_footer__heading">
						Contact info
					</h5>
					<ul class="section_footer__info">
						<li>
							<i class="fas fa-map-marker-alt"></i> Martinborough, New Zealand
						</li>
						<li>
							<i class="fas fa-phone"></i> +64 211 755 194
						</li>
						<li>
							<i class="far fa-envelope"></i> <a href="mailto:kiaora@underthestars.co.nz">kiaora@underthestars.co.nz</a>
						</li>
					</ul>

				</div>
				<div class="col-sm-4">
				
					<!-- Opening hours -->
					<h5 class="section_footer__heading">
						Opening hours
					</h5>
					<div class="section_footer__open">
						<div class="section_footer__open__days">Whenever the Stars are shining. (Sometimes when they're not)</div>
					</div>

				</div>
			</div> <!-- / .row -->
			<div class="row">
				<div class="col-12">
				
					<!-- Copyright -->
					<div class="section_footer__copyright">
						&copy; <span id="js-current-year"></span> Under the Stars. All rights reserved.
					</div>

				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</footer>

	<!-- JAVASCRIPT
	================================================== -->

	<!-- JS Global -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClKz7c12WLoQAeYoA3l4BNvwFSi302gVg"></script>

	<!-- JS Plugins -->
	<script src="/assets/plugins/parallax/parallax.min.js"></script>
	<script src="/assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="/assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script src="/assets/plugins/lightbox/js/lightbox.min.js"></script>
	<script src="/assets/plugins/reservation/reservation.js"></script>
	<script src="/assets/plugins/alerts/alerts.js"></script>

	<!-- JS Custom -->
	<!-- build:js assets/js/theme.min.js -->
	<script src="/assets/js/theme.js"></script>
	<!-- endbuild -->
	<script src="/assets/js/custom.js"></script>