    <!-- FOOTER -->
    <footer class="py-7 py-md-9 bg-black">
		<div class="container px-4">
		  <div class="row gx-7">
			<div class="col-sm-4">
	  
				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Socials
				</h5>

				<!-- List -->
				<ul class="list-unstyled mb-6">
					<li class="d-flex mb-2">
						<div class="fab fa-instagram me-3 mt-2 fs-sm"></div>
						<a href="https://instagram.com/underthestarsnz">Find us on Instagram</a>
					</li>
					<li class="d-flex mb-2">
						<div class="fab fa-facebook me-3 mt-2 fs-sm"></div>
						<a href="https://fb.com/underthestarsnz">Find us on Facebook</a>
					</li>
					<li class="d-flex">
						<div class="fas fa-podcast me-3 mt-2 fs-sm"></div>
						<a href="https://podcasts.apple.com/us/podcast/under-the-stars/id1583460662">Find our Podcast</a>
					</li>
				</ul>

				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Contact info
				</h5>
		
				<!-- List -->
				<ul class="list-unstyled mb-6">
				<li class="d-flex mb-2">
					<div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
					Wairarapa, New Zealand
				</li>
				<li class="d-flex mb-2">
					<div class="fas fa-phone me-3 mt-2 fs-sm"></div>
					<a href="tel:+6462425194">+64 6 242 5194</a>
				</li>
				<li class="d-flex mb-2">
					<div class="far fa-envelope me-3 mt-2 fs-sm"></div>
					<a href="mailto:kiaora@underthestars.co.nz">kiaora@underthestars.co.nz</a>
				</li>
				<li class="d-flex">
					<div class="fas fa-comments me-3 mt-2 fs-sm"></div>
					<a href="/contact-us/">Contact Us</a>
				</li>
				</ul>

				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Opening hours
				</h5>
		
				<!-- Text -->
				<div class="mb-6">
					<p>Any time the stars are shining, and sometimes when they're not.</p>
				</div>
	  
			</div>
			<div class="col-sm-4">
	  
				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Book a Tour or Event
				</h5>
		
				<!-- List -->
				<ul class="list-unstyled mb-6">
					<li class="d-flex mb-2">
						<div class="far fa-calendar-check me-3 mt-2 fs-sm"></div> <a href="https://outlook.office365.com/owa/calendar/Booking@underthestars.co.nz/bookings/">Book a tour at your place</a>
					</li>
					<li class="d-flex">
						<div class="fas fa-comments me-3 mt-2 fs-sm"></div> <a href="/contact-us/">Or contact us to talk about it</a>
					</li>
				</ul>

				<!-- Heading -->
				<h5 class="text-xs text-primary">
					Gift Vouchers
				</h5>
		
				<!-- List -->
				<ul class="list-unstyled mb-6">
					<li class="d-flex">
						<div class="fas fa-gift me-3 mt-2 fs-sm"></div> <a href="https://www.underthestars.co.nz/vouchers/">Purchase a Gift Voucher</a>
					</li>
				</ul>

				<h5 class="text-xs text-primary mb-3">
					Proudly <strong>Qualmark Accredited</strong>
				</h5>
				<div class="d-flex mb-6">
					<img src="/assets/img_uts/qualmark.png" alt="Proud to be Qualmark Accredited" width="115px" style="opacity: 80%;" />
				</div>

			</div>
			<div class="col-sm-4">

				<!-- Heading -->
				<h5 class="text-xs text-primary">
					About Us
				</h5>
		
				<!-- Text -->
				<p class="mb-6">
					We show off the night sky, pointing out constellations, stars, solar system objects and enjoy close up views of deep sky objects through binoculars and telescopes all in an entertaining and educational way.
				</p>

				<h5 class="text-xs text-primary mb-3">
					We are <strong>Under the Stars</strong>
				</h5>
				<div class="d-flex mb-6">
					<img src="/assets/img_uts/DarkLogo.png" alt="Under the Stars" width="115px" />
				</div>
	  
			</div>
		  </div>
		  <div class="row">
			<div class="col-12">
	  
			  <!-- Copyright -->
			  <div class="d-flex">
				  &copy; {{ 'now' | date: "%Y" }} Under the Stars. All rights reserved.
			  </div>
	  
			</div>
		  </div>
		</div>
	  </footer>
	  
	  <!-- TOAST -->
	  <div class="toast position-fixed bottom-0 start-50 translate-middle-x mb-3 mb-md-5" id="notification" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
		  <div class="toast-body mx-auto"></div>
		</div>
	  </div>