<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
	<nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#"></a>
      </div>
    </nav>
    
    {{ content }}
    {% include footer.html %}
  </body>
  
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"32070e2712aafeb50d59dabcb","lid":"b628631ef1","uniqueMethods":true}) })</script>
</html>