<!doctype html>
<html lang="en">

  {% include head.html %}
  <body>

    {% include header.html %}	
    {{ content }}
    {% include footer.html %}

    <!-- JAVASCRIPT -->
    <!-- Vendor JS -->
    <script src="/assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="/assets/js/theme.bundle.js"></script>

    <!-- FareHarbor Lightframe API - do not remove - see: https://fareharbor.com/help/website/resources/lightframe-api/ -->
    <script type="text/javascript" src="https://fareharbor.com/embeds/api/v1/?autolightframe=yes"></script>

  </body>
</html>